*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/release
/captures
.externalNativeBuild
.cxx
local.properties
/src/main/jni/ncnn-20230517-android-vulkan
/src/main/jni/opencv-mobile-4.6.0-android
